# **6. Scaling**

Here we will:

    - Create the scorecards
    - Generate the points map dictionary
    - Predict the credit score from an input

## **6.1 Create Scorecards**

Assign score to each attribute by specifying:

    - Odds of good of 30:1 at 300 point score and
    - 20 PDO (points to double the odds of good)

Thus, we can calculate the offset and factor:

**- Factor = PDO/ln(2)**

**- Offset = Score - Factor * ln(Odds of good)**

In [1]:
# Import library
import pandas as pd
import numpy as np

# Load configuration
import src.utils as utils

Update the config file to define the references and dump the scorecards.

In [2]:
# Update the config file
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/Training Data.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'response_variable': 'risk_flag',
 'test_size': 0.3,
 'num_columns': ['income',
  'age',
  'experience',
  'current_job_years',
  'current_house_years'],
 'cat_columns': ['married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['income_bin',
  'age_bin',
  'experience_bin',
  'current_job_years_bin',
  'current_house_years_bin',
  'married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state']}

In [3]:
# Function to convert the model's output into score points
def scaling():
    """Function to assign score points to each attribute"""
    
    # Define the references: score, odds, pdo
    pdo = config_data['pdo']
    score = config_data['score_ref']
    odds = config_data['odds_ref']

    # Load the best model
    best_model_path = config_data['best_model_path']
    best_model = utils.pickle_load(best_model_path)

    # Load the WOE table
    WOE_table_path = config_data['WOE_table_path']
    WOE_table = utils.pickle_load(WOE_table_path)

    # Load the best model's estimates table
    best_model_summary_path = config_data['best_model_summary_path']
    best_model_summary = utils.pickle_load(best_model_summary_path)

    # Calculate factor and offset
    factor = pdo/np.log(2)
    offset = score-(factor*np.log(odds))

    print('===================================================')
    print(f"Odds of good of {odds}:1 at {score} points score.")
    print(f"{pdo} PDO (points to double the odds of good).")
    print(f"Offset = {offset:.2f}")
    print(f"Factor = {factor:.2f}")
    print('===================================================')

    # Define n = number of characteristics
    n = best_model_summary.shape[0] - 1

    # Define b0
    b0 = best_model.intercept_[0]

    # Adjust characteristic name in best_model_summary_table
    num_cols = config_data['num_columns']
    for col in best_model_summary['Characteristic']:

        if col in num_cols:
            bin_col = col + '_bin'
        else:
            bin_col = col

        best_model_summary.replace(col, bin_col, inplace = True)

    # Merge tables to get beta/parameter estimate for each characteristic
    scorecards = pd.merge(left = WOE_table,
                        right = best_model_summary,
                        how = 'left',
                        on = ['Characteristic'])

    # Define beta and WOE
    beta = scorecards['Estimate']
    WOE = scorecards['WOE']

    # Calculate the score point for each attribute
    scorecards['Points'] = round((offset/n) - factor*((b0/n) + (beta*WOE)))
    scorecards['Points'] = scorecards['Points'].astype('int')

    # Validate
    print('Scorecards table shape : ', scorecards.shape)

    # Dump the scorecards
    scorecards_path = config_data['scorecards_path']
    utils.pickle_dump(scorecards, scorecards_path)

    return scorecards

In [4]:
# Check the function
scaling()

===================================================
Odds of good of 30:1 at 300 points score.
20 PDO (points to double the odds of good).
Offset = 201.86
Factor = 28.85
===================================================
Scorecards table shape :  (424, 5)

    Characteristic               Attribute       WOE  Estimate  Points
0       income_bin  (10309.999, 2511105.0] -0.045605 -1.048982      17
1       income_bin  (2511105.0, 5001124.0]  0.042678 -1.048982      20
2       income_bin  (5001124.0, 7475292.0]  0.042740 -1.048982      20
3       income_bin  (7475292.0, 9999938.0] -0.037107 -1.048982      17
4          age_bin          (20.999, 35.0] -0.117910 -0.845304      15
..             ...                     ...       ...       ...     ...
419          state                 Tripura -0.409416  0.007332      18
420          state           Uttar_Pradesh  0.044885  0.007332      18
421          state        Uttar_Pradesh[5] -0.090336  0.007332      18
422          state             Uttarakhand  0.607073  0.007332      18
423          state             West_Bengal -0.038613  0.007332      18

[424 rows x 5 columns]

## **6.2 Predict the Credit Score**

Here we need to generate the points map dictionary to predict the credit score from an input.

Update the config file to dump the points map dictionary and the credit score.

In [8]:
# Update the config file
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/Training Data.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'response_variable': 'risk_flag',
 'test_size': 0.3,
 'num_columns': ['income',
  'age',
  'experience',
  'current_job_years',
  'current_house_years'],
 'cat_columns': ['married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['income_bin',
  'age_bin',
  'experience_bin',
  'current_job_years_bin',
  'current_house_years_bin',
  'married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state']}

In [9]:
# Generate the points map dict function
def get_points_map_dict():
    """Get the Points mapping dictionary"""
    # Load the scorecards table
    scorecards = utils.pickle_load(config_data['scorecards_path'])

    # Initialize the dictionary
    points_map_dict = {}
    unique_char = set(scorecards['Characteristic'])
    for char in unique_char:
        # Get the Attribute & WOE info for each characterics
        current_data = (scorecards
                            [scorecards['Characteristic']==char]
                            [['Attribute', 'Points']])

        # Get the mapping
        points_map_dict[char] = {}
        for idx in current_data.index:
            attribute = current_data.loc[idx, 'Attribute']
            points = current_data.loc[idx, 'Points']
            points_map_dict[char][attribute] = points

    # Validate data
    print('Number of key : ', len(points_map_dict.keys()))

    # Dump
    utils.pickle_dump(points_map_dict, config_data['points_map_dict_path'])

    return points_map_dict

In [10]:
# Check the function
get_points_map_dict()

Number of key :  11

{'state': {'Andhra_Pradesh': 18,
  'Assam': 18,
  'Bihar': 18,
  'Chandigarh': 18,
  'Chhattisgarh': 18,
  'Delhi': 18,
  'Gujarat': 18,
  'Haryana': 18,
  'Himachal_Pradesh': 18,
  'Jammu_and_Kashmir': 18,
  'Jharkhand': 18,
  'Karnataka': 18,
  'Kerala': 18,
  'Madhya_Pradesh': 18,
  'Maharashtra': 18,
  'Manipur': 18,
  'Mizoram': 18,
  'Odisha': 18,
  'Puducherry': 18,
  'Punjab': 18,
  'Rajasthan': 18,
  'Sikkim': 18,
  'Tamil_Nadu': 18,
  'Telangana': 18,
  'Tripura': 18,
  'Uttar_Pradesh': 18,
  'Uttar_Pradesh[5]': 18,
  'Uttarakhand': 18,
  'West_Bengal': 18},
 'house_ownership': {'norent_noown': 25, 'owned': 28, 'rented': 18},
 'current_job_years_bin': {Interval(-0.001, 3.0, closed='right'): 17,
  Interval(3.0, 6.0, closed='right'): 19,
  Interval(6.0, 9.0, closed='right'): 19,
  Interval(9.0, 14.0, closed='right'): 18},
 'experience_bin': {Interval(-0.001, 5.0, closed='right'): 15,
  Interval(5.0, 10.0, closed='right'): 20,
  Interval(10.0, 15.0, closed='right'): 18,
  Interval(15.0, 20.0, closed='right'): 21},
 'married': {'married': 24, 'single': 18},
 'city': {'Adoni': 23,
  'Agartala': 7,
  'Agra': 33,
  'Ahmedabad': 3,
  'Ahmednagar': 42,
  'Aizawl': 21,
  'Ajmer': 16,
  'Akola': 31,
  'Alappuzha': 17,
  'Aligarh': 18,
  'Allahabad': 16,
  'Alwar': 17,
  'Amaravati': 36,
  'Ambala': 12,
  'Ambarnath': 16,
  'Ambattur': 19,
  'Amravati': 8,
  'Amritsar': 39,
  'Amroha': 39,
  'Anand': 20,
  'Anantapur': 32,
  'Anantapuram[24]': 33,
  'Arrah': 45,
  'Asansol': 25,
  'Aurangabad': 28,
  'Aurangabad[39]': 27,
  'Avadi': 16,
  'Bahraich': 9,
  'Ballia': 20,
  'Bally': 40,
  'Bangalore': 55,
  'Baranagar': 20,
  'Barasat': -4,
  'Bardhaman': 1,
  'Bareilly': 51,
  'Bathinda': 33,
  'Begusarai': 19,
  'Belgaum': 53,
  'Bellary': 39,
  'Berhampore': 12,
  'Berhampur': 53,
  'Bettiah[33]': -9,
  'Bhagalpur': 47,
  'Bhalswa_Jahangir_Pur': 36,
  'Bharatpur': 26,
  'Bhatpara': 22,
  'Bhavnagar': 15,
  'Bhilai': 14,
  'Bhilwara': 17,
  'Bhimavaram': 30,
  'Bhind': 6,
  'Bhiwandi': 12,
  'Bhiwani': 33,
  'Bhopal': 15,
  'Bhubaneswar': -17,
  'Bhusawal': 8,
  'Bidar': 24,
  'Bidhannagar': 7,
  'Bihar_Sharif': 23,
  'Bijapur': 58,
  'Bikaner': 22,
  'Bilaspur': 17,
  'Bokaro': 22,
  'Bongaigaon': 26,
  'Bulandshahr': 23,
  'Burhanpur': 12,
  'Buxar[37]': -2,
  'Chandigarh_city': 28,
  'Chandrapur': 9,
  'Chapra': 13,
  'Chennai': 18,
  'Chinsurah': 34,
  'Chittoor[28]': 17,
  'Coimbatore': 16,
  'Cuttack': 13,
  'Danapur': 8,
  'Darbhanga': 14,
  'Davanagere': 5,
  'Dehradun': 69,
  'Dehri[30]': 7,
  'Delhi_city': 12,
  'Deoghar': 18,
  'Dewas': 8,
  'Dhanbad': 19,
  'Dharmavaram': 27,
  'Dhule': 11,
  'Dibrugarh': 23,
  'Dindigul': 10,
  'Durg': 14,
  'Durgapur': 27,
  'Eluru[25]': 40,
  'Erode[17]': 25,
  'Etawah': 13,
  'Faridabad': 10,
  'Farrukhabad': 42,
  'Fatehpur': 28,
  'Firozabad': 16,
  'Gandhidham': 6,
  'Gandhinagar': 58,
  'Gangtok': 47,
  'Gaya': 8,
  'Ghaziabad': -2,
  'Giridih': 16,
  'Gopalpur': 16,
  'Gorakhpur': 8,
  'Gudivada': 11,
  'Gulbarga': 31,
  'Guna': 18,
  'Guntakal': 26,
  'Guntur[13]': 1,
  'Gurgaon': 23,
  'Guwahati': 21,
  'Gwalior': -8,
  'Hajipur[31]': 17,
  'Haldia': 5,
  'Hapur': 30,
  'Haridwar': 21,
  'Hazaribagh': 4,
  'Hindupur': 23,
  'Hospet': 20,
  'Hosur': 44,
  'Howrah': 8,
  'Hubliâ€“Dharwad': 12,
  'Hyderabad': 9,
  'Ichalkaranji': 7,
  'Imphal': 0,
  'Indore': 3,
  'Jabalpur': 16,
  'Jaipur': 14,
  'Jalandhar': 26,
  'Jalgaon': 24,
  'Jalna': 22,
  'Jamalpur[36]': 22,
  'Jammu[16]': 19,
  'Jamnagar': 27,
  'Jamshedpur': 24,
  'Jaunpur': 12,
  'Jehanabad[38]': 14,
  'Jhansi': 16,
  'Jodhpur': 31,
  'Jorhat': 19,
  'Junagadh': 16,
  'Kadapa[23]': 19,
  'Kakinada': 11,
  'Kalyan-Dombivli': 30,
  'Kamarhati': 8,
  'Kanpur': 16,
  'Karaikudi': 35,
  'Karawal_Nagar': 14,
  'Karimnagar': 28,
  'Karnal': 38,
  'Katihar': 17,
  'Katni': 49,
  'Kavali': 0,
  'Khammam': 32,
  'Khandwa': 10,
  'Kharagpur': 17,
  'Khora,_Ghaziabad': 38,
  'Kirari_Suleman_Nagar': 17,
  'Kishanganj[35]': 34,
  'Kochi': -8,
  'Kolhapur': 30,
  'Kolkata': 32,
  'Kollam': 15,
  'Korba': 29,
  'Kota[6]': 15,
  'Kottayam': -3,
  'Kozhikode': 41,
  'Kulti': 16,
  'Kumbakonam': 40,
  'Kurnool[18]': 16,
  'Latur': 58,
  'Loni': 32,
  'Lucknow': 44,
  'Ludhiana': 29,
  'Machilipatnam': 17,
  'Madanapalle': 27,
  'Madhyamgram': 22,
  'Madurai': 18,
  'Mahbubnagar': 23,
  'Maheshtala': 8,
  'Malda': 22,
  'Malegaon': 43,
  'Mangalore': 17,
  'Mango': 2,
  'Mathura': 2,
  'Mau': 29,
  'Medininagar': 33,
  'Meerut': 24,
  'Mehsana': 57,
  'Mira-Bhayandar': 53,
  'Miryalaguda': 11,
  'Mirzapur': 23,
  'Moradabad': 2,
  'Morbi': 20,
  'Morena': 13,
  'Motihari[34]': 25,
  'Mumbai': 12,
  'Munger': 0,
  'Muzaffarnagar': 0,
  'Muzaffarpur': 27,
  'Mysore[7][8][9]': -4,
  'Nadiad': 26,
  'Nagaon': 9,
  'Nagercoil': 18,
  'Nagpur': 7,
  'Naihati': 28,
  'Nanded': 15,
  'Nandyal': 28,
  'Nangloi_Jat': 8,
  'Narasaraopet': 9,
  'Nashik': 18,
  'Navi_Mumbai': 15,
  'Nellore[14][15]': 34,
  'New_Delhi': 36,
  'Nizamabad': 7,
  'Noida': 47,
  'North_Dumdum': 7,
  'Ongole': 25,
  'Orai': 41,
  'Ozhukarai': 8,
  'Pali': 8,
  'Pallavaram': 23,
  'Panchkula': 25,
  'Panihati': 48,
  'Panipat': 8,
  'Panvel': 15,
  'Parbhani': 17,
  'Patiala': 32,
  'Patna': 16,
  'Phagwara': 21,
  'Phusro': 14,
  'Pimpri-Chinchwad': 35,
  'Pondicherry': 26,
  'Proddatur': 18,
  'Pudukkottai': 28,
  'Pune': 26,
  'Purnia[26]': -4,
  'Raebareli': 18,
  'Raichur': 43,
  'Raiganj': -3,
  'Raipur': 7,
  'Rajahmundry[19][20]': 9,
  'Rajkot': 25,
  'Rajpur_Sonarpur': 59,
  'Ramagundam[27]': -2,
  'Ramgarh': 27,
  'Rampur': 21,
  'Ranchi': 14,
  'Ratlam': 2,
  'Raurkela_Industrial_Township': 14,
  'Rewa': 19,
  'Rohtak': 29,
  'Rourkela': 27,
  'Sagar': 15,
  'Saharanpur': 15,
  'Saharsa[29]': 25,
  'Salem': 11,
  'Sambalpur': 20,
  'Sambhal': 10,
  'Sangli-Miraj_&_Kupwad': 27,
  'Sasaram[30]': 31,
  'Satara': 27,
  'Satna': -3,
  'Secunderabad': 18,
  'Serampore': 19,
  'Shahjahanpur': 4,
  'Shimla': 18,
  'Shimoga': 36,
  'Shivpuri': 34,
  'Sikar': -6,
  'Silchar': 19,
  'Siliguri': 20,
  'Singrauli': 19,
  'Sirsa': 24,
  'Siwan[32]': 23,
  'Solapur': 17,
  'Sonipat': 11,
  'South_Dumdum': 41,
  'Sri_Ganganagar': 2,
  'Srikakulam': 27,
  'Srinagar': 5,
  'Sultan_Pur_Majra': 50,
  'Surat': 25,
  'Surendranagar_Dudhrej': 15,
  'Suryapet': 9,
  'Tadepalligudem': 18,
  'Tadipatri': 46,
  'Tenali': 24,
  'Tezpur': 15,
  'Thane': 36,
  'Thanjavur': 26,
  'Thiruvananthapuram': 5,
  'Thoothukudi': 21,
  'Thrissur': 16,
  'Tinsukia': 7,
  'Tiruchirappalli[10]': 19,
  'Tirunelveli': 33,
  'Tirupati[21][22]': 20,
  'Tiruppur': 45,
  'Tiruvottiyur': 40,
  'Tumkur': 32,
  'Udaipur': 4,
  'Udupi': 7,
  'Ujjain': 8,
  'Ulhasnagar': 12,
  'Uluberia': 16,
  'Unnao': 31,
  'Vadodara': 15,
  'Varanasi': 5,
  'Vasai-Virar': 20,
  'Vellore': 39,
  'Vijayanagaram': 18,
  'Vijayawada': 17,
  'Visakhapatnam[4]': 13,
  'Warangal[11][12]': 47,
  'Yamunanagar': 12},
 'age_bin': {Interval(20.999, 35.0, closed='right'): 15,
  Interval(35.0, 50.0, closed='right'): 19,
  Interval(50.0, 65.0, closed='right'): 19,
  Interval(65.0, 79.0, closed='right'): 20},
 'income_bin': {Interval(10309.999, 2511105.0, closed='right'): 17,
  Interval(2511105.0, 5001124.0, closed='right'): 20,
  Interval(5001124.0, 7475292.0, closed='right'): 20,
  Interval(7475292.0, 9999938.0, closed='right'): 17},
 'car_ownership': {'no': 17, 'yes': 21},
 'current_house_years_bin': {Interval(9.999, 11.0, closed='right'): 18,
  Interval(11.0, 12.0, closed='right'): 19,
  Interval(12.0, 13.0, closed='right'): 19,
  Interval(13.0, 14.0, closed='right'): 19},
 'profession': {'Air_traffic_controller': 16,
  'Analyst': 19,
  'Architect': 16,
  'Army_officer': 12,
  'Artist': 18,
  'Aviator': 16,
  'Biomedical_Engineer': 18,
  'Chartered_Accountant': 12,
  'Chef': 20,
  'Chemical_engineer': 21,
  'Civil_engineer': 15,
  'Civil_servant': 18,
  'Comedian': 19,
  'Computer_hardware_engineer': 16,
  'Computer_operator': 18,
  'Consultant': 17,
  'Dentist': 22,
  'Design_Engineer': 23,
  'Designer': 21,
  'Drafter': 21,
  'Economist': 25,
  'Engineer': 20,
  'Fashion_Designer': 19,
  'Financial_Analyst': 23,
  'Firefighter': 15,
  'Flight_attendant': 20,
  'Geologist': 13,
  'Graphic_Designer': 20,
  'Hotel_Manager': 14,
  'Industrial_Engineer': 24,
  'Lawyer': 16,
  'Librarian': 20,
  'Magistrate': 20,
  'Mechanical_engineer': 22,
  'Microbiologist': 18,
  'Official': 16,
  'Petroleum_Engineer': 31,
  'Physician': 18,
  'Police_officer': 8,
  'Politician': 22,
  'Psychologist': 19,
  'Scientist': 13,
  'Secretary': 18,
  'Software_Developer': 13,
  'Statistician': 20,
  'Surgeon': 21,
  'Surveyor': 13,
  'Technical_writer': 16,
  'Technician': 16,
  'Technology_specialist': 31,
  'Web_designer': 21}}

Next, transform the raw input data into score points.

In [11]:
def transform_points(raw_data=None, type=None, config_data=None):
    """Replace data value with points"""
    # Load the numerical columns
    num_cols = config_data['num_columns']

    # Load the points_map_dict
    points_map_dict = utils.pickle_load(config_data['points_map_dict_path'])

    # Load the saved data if type is not None
    if type is not None:
        raw_data = utils.pickle_load(config_data[f'{type}_path'][0])

    # Map the data
    points_data = raw_data.copy()
    for col in points_data.columns:
        if col in num_cols:
            map_col = col + '_bin'
        else:
            map_col = col

        points_data[col] = points_data[col].map(points_map_dict[map_col])

    # Dump data
    if type is not None:
        utils.pickle_dump(points_data, config_data[f'X_{type}_points_path'])

    return points_data

In [12]:
# Check the function on the train set
X_train_points = transform_points(type='train', config_data=config_data)

X_train_points

,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years
203209,20,19,21,18,18,21,20,10,18,19,19
42903,17,19,18,18,18,21,16,21,18,18,19
59095,20,19,15,18,18,17,19,17,18,19,19
69516,17,19,15,24,18,17,16,21,18,17,18
232569,20,20,20,24,18,17,18,11,18,19,19
...,...,...,...,...,...,...,...,...,...,...,...
182909,20,20,15,18,18,17,20,29,18,19,19
197799,20,19,15,18,18,17,18,13,18,19,19
228682,17,19,15,18,18,17,16,30,18,19,18
114068,17,19,20,18,18,17,22,38,18,19,18
200681,20,19,21,24,18,21,25,14,18,19,19

Then, add a function to calculate the credit score.

Update the config file to dump the credit score.

In [13]:
# Update the config file
config_data = utils.config_load()
config_data

{'raw_dataset_path': 'data/raw/Training Data.csv',
 'dataset_path': 'data/output/data.pkl',
 'predictors_set_path': 'data/output/predictors.pkl',
 'response_set_path': 'data/output/response.pkl',
 'train_path': ['data/output/X_train.pkl', 'data/output/y_train.pkl'],
 'test_path': ['data/output/X_test.pkl', 'data/output/y_test.pkl'],
 'data_train_path': 'data/output/data_train.pkl',
 'data_train_binned_path': 'data/output/data_train_binned.pkl',
 'crosstab_list_path': 'data/output/crosstab_list.pkl',
 'WOE_table_path': 'data/output/WOE_table.pkl',
 'IV_table_path': 'data/output/IV_table.pkl',
 'WOE_map_dict_path': 'data/output/WOE_map_dict.pkl',
 'X_train_woe_path': 'data/output/X_train_woe.pkl',
 'response_variable': 'risk_flag',
 'test_size': 0.3,
 'num_columns': ['income',
  'age',
  'experience',
  'current_job_years',
  'current_house_years'],
 'cat_columns': ['married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state'],
 'num_of_bins': 4,
 'num_of_cv': 10,
 'scoring': 'recall',
 'forward_models_path': 'models/forward_models.pkl',
 'best_predictors_path': 'models/best_predictors_path.pkl',
 'best_model_path': 'models/best_model.pkl',
 'best_model_summary_path': 'models/best_model_summary.pkl',
 'pdo': 20,
 'score_ref': 300,
 'odds_ref': 30,
 'scorecards_path': 'models/scorecards.pkl',
 'points_map_dict_path': 'models/points_map_dict.pkl',
 'X_points_path': 'models/X_points.pkl',
 'X_train_points_path': 'models/X_train_points.pkl',
 'score_path': 'models/score_path.pkl',
 'cutoff_score': 150,
 'columns_': ['income_bin',
  'age_bin',
  'experience_bin',
  'current_job_years_bin',
  'current_house_years_bin',
  'married',
  'house_ownership',
  'car_ownership',
  'profession',
  'city',
  'state']}

In [14]:
# Function to predict the credit score
def predict_score(raw_data, config_data):
    """Function to predict the credit score"""

    points = transform_points(raw_data = raw_data,
                            type = None,
                            config_data = config_data)

    score = int(points.sum(axis=1))

    utils.pickle_dump(score, config_data['score_path'])

    return score

In [15]:
# Check the function with raw data input
tes_input = {
    'income_bin': 4000000,
    'age_bin': 25,
    'experience_bin': 3,
    'current_job_years_bin': 3,
    'current_house_years_bin': 20,
    'married': 'single',
    'house_ownership': 'owned',
    'car_ownership': 'yes',
    'profession': 'Financial_Analyst',
    'city': 'Orai',
    'state': 'Uttarakhand'
}

tes = pd.DataFrame(tes_input, index=[0])

tes

,income_bin,age_bin,experience_bin,current_job_years_bin,current_house_years_bin,married,house_ownership,car_ownership,profession,city,state
0,4000000,25,3,3,20,single,owned,yes,Financial_Analyst,Orai,Uttarakhand

In [16]:
# Predict the credit score
predict_score(raw_data=tes, config_data=config_data)

/tmp/ipykernel_695/514670272.py:9: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  score = int(points.sum(axis=1))

216